@charset "uft-8";

/* 기본 세팅 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: #ffffff;
  color: #333333;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

/* header */
header {
  position: relative;
  display: flex;
  height: 100px;
  align-items: center;
  /* background-color: rgb(72, 201, 46); */
}
.headerBg {
  position: absolute;
  width: 100%;
  height: 158px;
  left: 0;
  top: 99px;
  background: rgb(98, 172, 83);
  z-index: 997;
  display: none;
}
header h1 a {
  display: block;
  width: 200px;
  height: 40px;
}
header nav {
  width: 600px;
  margin: 58px 0px 0px 370px;
}
header nav > ul {
  display: flex;
  list-style: none;
}
header nav ul a {
  display: block;
  text-align: center;
  background: #fff;
  padding: 10px;
}
li.lv1 {
  position: relative;
  width: 25%;
}
ul.lv2 {
  position: absolute;
  width: 100%;
  z-index: 998;
  display: none;
}
ul.lv2 a {
  color: #fff;
  background: rgb(98, 172, 83);
}
li.lv1:hover > a {
  color: #fff;
  background: rgb(31, 122, 39);
}
ul.lv2 li:hover a {
  color: #333;
  background: #fff;
}
