@charset "uft-8";

/* 기본 세팅 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background: #ffffff;
  color: #333333;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

/* header */
header {
  display: flex;
  height: 100px;
  align-items: center;
}
header nav {
  width: 600px;
  margin: 58px 0 0 370px;
}
header nav > ul {
  display: flex;
}
header ul a {
  display: block;
  text-align: center;
  background: #fff;
  color: #333333;
  padding: 10px;
}
li.lv1 {
  position: relative;
  width: 25%;
}
ul.lv2 {
  position: absolute;
  width: 100%;
  z-index: 998;
  display: none;
}
li.lv1:hover > a {
  color: #fff;
  background: rgb(199, 101, 101);
}
ul.lv2 li:hover a {
  color: #fff;
  background: rgb(230, 152, 152);
}
