@charset "uft-8";

/* 기본 세팅 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #333333;
}

body {
  background: #ffffff;
  color: #333333;
}

.wrap {
  width: 1200px;
  height: 650px;
  margin: 0 auto;
}

/* header */
header {
  width: 200px;
  height: 100%;
  padding-top: 30px;
  background-color: #f3f5ff;
}
header h1 {
  width: 200px;
  height: 40px;
}
header nav {
  margin-top: 20px;
}
header nav > ul {
  width: 180px;
  padding-left: 14px;
}
header nav a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
}
li.lv1 {
  position: relative;
}
ul.lv2 {
  position: absolute;
  left: 166px;
  top: -30px;
  width: 100%;
  background: rgb(111, 115, 136);
  z-index: 998;
  display: none;
}
.lv1:hover > a {
  color: #ffffff;
  background: rgb(111, 115, 136);
}
.lv2 li:hover > a {
  color: #ffffff;
  background: rgb(166, 164, 201);
}
